<section id="latest-articles" itemscope itemtype="http://schema.org/Blog">
  <% articles.each do |article| %>
    <%= partial 'articles/article', locals: { article: article } %>
  <% end %>
</section>
