<div class="block block-bordered">
  <div class="container">
    <%= partial 'articles/related', locals: { article: article } %>
    <%= partial 'articles/copyright', locals: { article: article } %>
  </div>
</div>
