---
title: The Happiness Mission
description: |
  I make an initial attempt at describing the mission for Wossname Industries:
  to measurably improve your long term happiness!

introduction: |
  I’m currently working my way through the
  [Happy Startup School](http://www.thehappystartupschool.com/)’s course on
  building the sort of company you wouldn’t want to sell. I’ve been toying with
  the idea for several months now that there’s something interesting around the
  intersection of technology and mental health. I reckon that there are ways in
  which we can make a positive difference to many people’s lives by exploring
  that intersection.  I’m also hoping that I can make a sustainable income out
  of it, too!

image:
  cover: the-happiness-mission/cover.png
  square: the-happiness-mission/square.png
  thumbnail: the-happiness-mission/thumbnail.png

published_on: 2016-01-20
canonical_source:
  name: Medium
  url: https://blog.woss.name/the-happiness-mission-98f5338f72c

sitemap_priority: 1.0
sitemap_changefreq: 'weekly'

category: Business
tags:
  - Happiness
  - Business
  - Startup
  - Mission
  - Building a Business
  - Measuring Happiness
---
One of the early tasks in the Startup School programme is to define the
company’s mission. This should be short and sweet — concise enough to fit into
a Tweet — but provide an over-arching direction the company is heading in. I’m
thinking of it being like the
[plot arc](https://en.wikipedia.org/wiki/Story_arc) for a season of a
television show. Here’s what I came up with:

<blockquote class="embedly-card pull-quote p-y-lg" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-controls="0" data-card-image="https://pbs.twimg.com/profile_images/745661682161164288/qa5T02hU_bigger.jpg" data-card-type="article">
  <p>
    "Our mission: to measurably improve the long term happiness of both
    individuals and organisations." How does that sound? #happystartupschool
  </p>
  <cite>
    Graeme Mathieson
    <a href="https://twitter.com/mathie/status/689712716412510208">
      <%= time_tag Date.new(2016, 1, 20) %>
    </a>
  </cite>
</blockquote>

Since it fit in a Tweet, I thought I might as well tweet it! Here’s a little
more detail on my thinking:

* I reckon that we can **measure change** in happiness over time, and that we
  can use those measures to make sure our happiness is improving.

* We’re looking at **long term happiness**. This isn’t about short term
  dopamine hits through gamification or likes, it’s about making lasting
  changes to our lives that improve our mental wellbeing.

* While the initial focus of our ideas is around improving mental wellness on
  an **individual** level, I think there are interesting things we can do to
  holistically improve happiness for **entire organisations** — which could be
  companies, social groups, families, or even online communities.

I’m tempted to tack on “through experimentation” to the end of the mission. One
of the tenets I’m playing with is that we can run controlled experiments to see
what improves our happiness, and use the results of those experiments to drive
long term change. But I thought I’d keep it short and snappy, so I’ll save that
for the manifesto! ;-)

What do you think?
