<span itemprop="author creator editor accountablePerson" itemscope itemtype="http://schema.org/Person">
  <% link_to '/team/mathie.html', itemprop: 'url', absolute: true do %>
    <span itemprop="name">
      <span itemprop="givenName">
        Graeme
      </span>
      <span itemprop="familyName">
        Mathieson
      </span>
    </span>
  <% end %>
</span>
