<% introduction title: false do %>
  <h1>
    <%= image_tag 'mathie.jpg', alt: 'Photo of Graeme Mathieson', class: 'img-responsive img-circle center-block' %><br>
    Graeme Mathieson
  </h1>

  <h2>
    Chief Coffee Drinker
  </h2>

  <p class="lead">
    I've been developing web applications with the Ruby on Rails
    framework for over a decade now (something that not many people can
    claim!). Prior to that, I was building web apps in Python, and
    before that I was building embedded C++ code for Voice over IP
    gateways.
  </p>

  <p>
    In addition to Ruby, I've got a fair chunk of experience with
    JavaScript, and with managing the platforms we deploy apps onto
    (the cool kids call this bit DevOps). I've got a BEng (Hons) in
    Software Engineering from the University of Edinburgh and an AAT
    Diploma in Accounting (don't ask).
  </p>

  <p>
    When I'm not in the office, staring at a sea of code, I really
    enjoy a spot of indoor rock climbing. You can often find me hanging
    around the local climbing wall, trying to conquer my latest
    project!
  </p>
<% end %>

<section id="social-media" class="block">
  <div class="container">
    <h1>Social Media</h1>

    <p>
      You can find me on all the usual social media outlets. Mostly, I hang out
      on Twitter and Facebook, and I regularly post photos to Instagram.
    </p>

    <div class="row">
      <div class="col-md-6">
        <blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article">
          <h4>
            <a href="https://www.instagram.com/mathie/">Graeme Mathieson (@mathie) * Instagram photos and videos</a>
          </h4>
          
          <p>Web &amp; iOS developer by day, rock climber and general geek by night.</p>
        </blockquote>
      </div>
      
      <div class="col-md-6">
        <blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article">
          <h4>
            <a href="https://medium.com/@mathie">Graeme Mathieson - Profile</a>
          </h4>
          
          <p>
            By day, I'm a web &amp; iOS developer, and dabble with DevOps, for
            Wossname Industries. By night, I'm a rock climber, board gamer
            &amp; keen cook. https://woss.name/
          </p>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article">
          <h4>
            <a href="https://github.com/mathie">mathie (Graeme Mathieson)</a>
          </h4>
          
          <p>
            mathie has 44 repositories written in Shell, JavaScript, and Ruby.
            Follow their code on GitHub.
          </p>
        </blockquote>
      </div>

      <div class="col-md-6">
        <blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article">
          <h4>
            <a href="https://plus.google.com/+GraemeMathieson">Graeme Mathieson - Google+</a>
          </h4>
          
          <p>
            Graeme Mathieson - By day, I'm a web & iOS developer, and dabble
            with DevOps, for Wossname Industries. By night, I'm a rock climber,
            board gamer and keen cook. - Software Engineer - Wossname
            Industries - Teignmouth, Devon, United Kingdom
          </p>
        </blockquote>
      </div>
    </div>

    <ul class="list-inline text-center h2 p-y-md">
      <li>
        <a href="https://twitter.com/mathie" title="Follow me on Twitter" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/mathie" title="Keep in touch on Facebook" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/mathie" title="Check out my open source projects on GitHub" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-github"></span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+GraemeMathieson" title="Find me on Google+" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-google-plus"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mathie" title="Connect with me on LinkedIn" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-linkedin"></span>
        </a>
      </li>
      <li>
        <a href="https://medium.com/@mathie" title="Follow me on Medium" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-medium"></span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/mathie" title="See my photos on Instagram" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-instagram"></span>
        </a>
      </li>
      <li>
        <a href="https://foursquare.com/mathie" title="Find out where I am Foursquare" target="_blank" data-toggle="tooltip" data-placement="bottom">
          <span class="icon icon-foursquare"></span>
        </a>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-6">
        <h3>Latest tweets</h3>

        <blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article-full">
          <h4>
            <a href="https://twitter.com/mathie">Graeme Mathieson (@mathie) | Twitter</a>
          </h4>
          
          <p>
            The latest Tweets from Graeme Mathieson (@mathie). By day, I'm a
            web & iOS developer, and dabble with DevOps, for @Wossname
            Industries. By night, I'm a rock climber, board gamer, and keen
            cook. Teignmouth, United Kingdom
          </p>
        </blockquote>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
