<footer class="block block-bordered">
  <div class="container">
    <%= partial 'partials/articles/related', locals: { article: article } %>
    <%= partial 'partials/articles/copyright', locals: { article: article } %>
  </div>
</footer>
