<section id="mailing-list" class="block">
  <div class="container">
    <h2 class="block-title">
      Join the mailing list
    </h2>

    <p class="lead">
      If you'd like to keep up with all the projects that I'm up to, you can
      join the mailing list. I don't send out emails too regularly, so I
      shouldn't irritate you too much! I'll just let you know if there have
      been any major developments on various projects once in a while. You
      never know, it could be interesting&hellip;
    </p>

    <form action="https://forms.woss.name/subscriptions" method="POST" class="form-horizontal">
      <input type="hidden" name="redirect_to" value="<%= url_for('/thank-you.html', absolute: true)">
      <input type="hidden" name="subscription[product]" value="wossname_industries">
      <input type="hidden" name="subscription[general_updates]" value="1">

      <fieldset class="form-group">
        <label for="subscription[first_name]" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="subscription[first_name]" id="subscription[first_name]" placeholder="Enter your first name" required autofocus>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="subscription[last_name]" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="subscription[last_name]" id="subscription[last_name]" placeholder="Enter your last name" required>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="subscription[email_address]" class="col-sm-2 control-label">Email address</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="subscription[email_address]" id="subscription[email_address]" placeholder="Enter your email address" required>
        </div>
      </fieldset>

      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </div>
</section>
