<section id="slack" class="block">
  <div class="container">
    <h2 class="block-title">
      Chat with me on Slack
    </h2>

    <p class="lead">
      I hang around on <a href="https://slack.com/">Slack</a> when I'm at the
      computer. You can stop by for a chat, if you like. Just enter your email
      address, and you should be sent an invite:
    </p>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://wossname-slack.herokuapp.com" class="embed-responsive-item">
      </iframe>
    </div>
  </div>
</section>
