<div class="row">
  <% categories.each_with_index do |category, i| %>
    <%= partial 'articles/categories/category', locals: { category: category } %>

    <% if i % 2 == 1 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>
