<div class="block block-bordered">
  <div class="container">
    <h2 itemprop="name headline">
      <%= link_to_category category, itemprop: 'url' %>
    </h2>

    <% description = description_for_category(category) %>
    <% link = link_to_category category, title: 'Browse articles&hellip;' %>
    <%= markdown [ description, link ].join(' ') %>
  </div>
</div>
