<% introduction title: false do %>
  <h1>
    <%= image_tag 'big-w.png', alt: 'W', class: 'img-responsive center-block' %><br>
    Wossname Industries
  </h1>

  <h2>
    <strong>Ruby on Rails</strong>,
    <strong>iOS</strong>, and
    <strong>DevOps</strong> meets
    <strong>design</strong>,
    <strong>development</strong>, and
    <strong>teaching</strong>.
  </h2>

  <p>
    Wossname Industries is Graeme Mathieson's software consultancy. I build Ruby on Rails web apps. I build iOS apps (for the iPhone, iPad and Apple Watch). I make the web apps talk to the iOS apps. And I can build the entire hosting infrastructure that allows you to deploy &amp; scale your product. In short, I can do it all!
  </p>

  <p class="text-center">
    <% link_to '', fragment: 'services', class: 'btn btn-lg btn-default' do %>
      Read more&hellip;
    <% end %>
  </p>
<% end %>
