<section id="introduction" class="block block-angle text-center">
  <div class="container">
    <h1 class="block-title">
      Wossname Industries
    </h1>

    <h4 class="text-muted">
      <strong>Ruby on Rails</strong>,
      <strong>iOS</strong>, and
      <strong>DevOps</strong> meets
      <strong>design</strong>,
      <strong>development</strong>, and
      <strong>teaching</strong>.
    </h4>

    <p class="lead text-justify">
      Wossname Industries is Graeme Mathieson's software consultancy. We build
      Ruby on Rails web apps. We build iOS apps (for the iPhone, iPad and Apple
      Watch). We make the web apps talk to the iOS apps. And we build the
      entire hosting infrastructure that allows you to deploy &amp; scale your
      product. In short, we can do it all!
    </p>
  </div>
</section>
