<section id="projects" class="block">
  <div class="container">
    <h2 class="block-title">
      Projects
    </h2>

    <p class="lead">
      I've always got a few side projects on the go. It's a great way to learn about new technologies, or to brush up on a particular skill. Right now, I'm making sure I'm up to speed with the upcoming release of Ruby on Rails 5. I'm also playing around with iOS 10 and Swift 3.0 &ndash; in particular, I'm exploring what CareKit and ResearchKit can offer for building apps to help manage your mental wellbeing.
    </p>

    <p class="text-center">
      <% link_to '/projects.html', class: 'btn btn-lg btn-primary-outline' do %>
        More on my projects
      <% end %>

      <% link_to '', fragment: 'articles', class: 'btn btn-lg btn-default-outline' do %>
        On to articles
      <% end %>
    </p>
  </div>
</section>
