<section id="services" class="block">
  <div class="container">
    <h2 class="block-title">
      Services
    </h2>

    <p class="lead">
      Something about services.
    </p>

    <p class="text-center">
      <% link_to '/services.html', class: 'btn btn-lg btn-primary-outline' do %>
        More on services
      <% end %>

      <% link_to '', fragment: 'projects', class: 'btn btn-lg btn-default-outline' do %>
        On to projects
      <% end %>
    </p>
  </div>
</section>
