<section id="services" class="block">
  <div class="container">
    <h2 class="block-title">
      Services
    </h2>

    <p class="lead">
      I'm one of those types of folks who can turn their hand to a bit of
      everything. I do web app development, using the Ruby on Rails framework.
      I do iOS development &ndash; apps for the iPhone, iPad, and Apple Watch
      &ndash; with Swift. I cover the full gamut of services that come under
      the DevOps banner. And I'll even project manage myself into the bargain.
      If you're looking for a good all-rounder who can be your entire
      development team then, as Leonard Cohen sang: I'm your man!
    </p>

    <p class="text-center">
      <% link_to '/services.html', class: 'btn btn-lg btn-primary-outline' do %>
        More on services
      <% end %>

      <% link_to '', fragment: 'projects', class: 'btn btn-lg btn-default-outline' do %>
        On to projects
      <% end %>
    </p>
  </div>
</section>
