<span itemprop="copyrightHolder publisher provider sourceOrganization" itemscope itemtype="http://schema.org/Organization">
  <span class="hidden" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
    <img itemprop="contentUrl url" src="<%= image_path config[:logo] %>" alt="Wossname Industries logo">
  </span>
  <% link_to '/', itemprop: 'url' do %>
    <span itemprop="name">
      Wossname Industries
    </span>
  <% end %>
</span>.
