<div class="row">
  <% tags.each_with_index do |tag, i| %>
    <%= partial 'tag', locals: { tag: tag } %>

    <% if i % 4 == 3 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>
