---
title: Categories
---
<% introduction do %>
  <p>
    I've arranged the site into several broad categories of article. You can
    find all the articles for a particular category here.
  </p>

  <p class="text-center">
    <% link_to '', fragment: 'all-categories', class: 'btn btn-lg btn-default' do %>
      <%= entypo :folder %>
      Browse categories
    <% end %>
  </p>
<% end %>

<%= partial 'partials/categories/categories', locals: { categories: all_categories } %>
