---
title: Categories
---
<section class="block text-justify p-b-0">
  <h1 class="block-title">
    Categories
  </h1>

  <p class="lead">
    I've arranged the site into several broad categories of article. You can
    find all the articles for a particular category here.
  </p>
</section>

<%= partial 'categories', locals: { categories: all_categories } %>
