---
title: Categories
---
<% introduction do %>
  <p>
    I've arranged the site into several broad categories of article. You can
    find all the articles for a particular category here.
  </p>
<% end %>

<% listing do %>
  <%= partial 'articles/categories/categories', locals: { categories: all_categories } %>
<% end %>
