---
layout: collection
---
<% introduction do %>
  <% if (description = description_for_category(name)) %>
    <%= markdown description %>
  <% end %>

  <p class="text-center">
    <% link_to '', fragment: 'latest-articles', class: 'btn btn-lg btn-default' do %>
      <%= entypo :news %>
      Latest articles
    <% end %>
  </p>
<% end %>

<%= partial 'partials/articles/articles', locals: { articles: articles_for_category(name) } %>
