---
layout: collection
---
<section class="block text-justify p-b-0">
  <h1 class="block-title">
    <%= name %>
  </h1>

  <div class="lead">
    <%= markdown description %>
  </div>

</section>

<%= partial 'articles', locals: { articles: articles_for_category(name) } %>
