---
title: Projects
---
<section id="introduction" class="block text-center">
  <div class="container">
    <h1 class="block-title">Projects</h1>

    <p class="lead">
      We've got all sorts of projects on the go at any one time. Mostly we're
      trying out new ideas, practicing new techniques, or just playing with a
      new technology.
    </p>
  </div>
</section>
