---
title: Tags
---
<% introduction do %>
  <p>
    I've arranged the site into a multitude of tags for each article. You can
    find all the articles for a particular tag here.
  </p>
<% end %>

<% listing do %>
  <%= partial 'articles/tags/tags', locals: { tags: all_tags } %>
<% end %>
