---
title: Tags
---
<section class="block text-justify p-b-0">
  <h1 class="block-title">
    Tags
  </h1>

  <p class="lead">
    I've arranged the site into a multitude of tags for each article. You can
    find all the articles for a particular tag here.
  </p>
</section>

<%= partial 'tags', locals: { tags: all_tags } %>
