---
title: Mailing list subscription confirmed
---
<% introduction do %>
<p>
  Thank you for signing up to the mailing list! You're now successfully
  subscribed. I'll see you next update!
</p>

  <p class="text-center">
    <% link_to '/articles.html', class: 'btn btn-lg btn-primary-outline' do %>
      <%= entypo :news %>
      Read some articles
    <% end %>
  
    <% link_to '/index.html', class: 'btn btn-lg btn-default-outline' do %>
      <%= entypo :home %>
      Back home
    <% end %>
  </p>
<% end %>